.paginator{
    padding-left: 50px;
    padding-right: 50px;
}
.paddingFoot{
    margin-left: 18px;
    font-size: 12px;
}
.titleCard{
    color: rosybrown !important;
    margin-bottom: 1px;
    margin-top: -12px;
}
.matContent{
    margin-bottom:1px;
}
.foot{
    margin-bottom:-6px
}
.grid{
    padding-bottom: -1px;
    padding-top: 1px;
}