<div class="main-content">
  <div class="container-fluid">
      <mat-spinner *ngIf="showSpinner==true"></mat-spinner>
      <div class="row" *ngIf="showSpinner==false">
          <div class="col-md-12"  *ngIf="(LoadService.loading$ | async) == false">
              <ui-carousel [infinite]="false" [fade]="false" [speed]="4000" [autoPlay]="false">
                  <ui-carousel-item *ngFor="let item of items">
                      <img [ui-lazy-load]="item.name" style="position:absolute; z-index:-2; width: 100%;
                      height: 100%">
                  </ui-carousel-item>
              </ui-carousel>
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">{{idNegocio.nombre}} ( {{idNegocio.subcategoriar}} )</h4>
                </div>
              <div class="card-body">    
                      <mat-grid-list cols="2" rowHeight="4:1">
                          <mat-grid-tile>
                              <i class="material-icons text-basic">place</i>
                          <a><strong> {{idNegocio.direccion}}</strong></a>
                          </mat-grid-tile>
                          <mat-grid-tile>
                              <i class="material-icons text-basic">pets</i>
                          <a><strong>Mascotas : {{idNegocio.mascotas}}</strong></a>
                          </mat-grid-tile>
                      </mat-grid-list>
              </div>
            </div>   
              <h2 class="colorRojo">Menú</h2>   
              <div style="padding-top:10px" *ngIf="loadEats==true">
              <h3>Entradas</h3>
              <div *ngFor="let i of getEats">
                <mat-card *ngIf='i.type_eat=="Entrada"'>
                    <mat-card-title class="colorRojo">{{i.nombre}}</mat-card-title>
                    <mat-card-subtitle class="subtitulo">${{i.precio}}{{i.moneda}}</mat-card-subtitle>
                    <ui-carousel [infinite]="false" [fade]="false" [speed]="4000" [autoPlay]="false">
                            <div *ngFor="let img of eatsImg">
                                <div *ngIf="i.idEat==img.id">      
                                    <ui-carousel-item>
                                        <img [ui-lazy-load]="img.url" style="position:absolute; z-index:-2; width: 100%;
                                        height: 100%">                                          
                                    </ui-carousel-item>
                                </div>
                            </div>
                        </ui-carousel>  
                    <mat-card-content>
                      <div>
                        <br>
                        <mat-card-title>Descripción</mat-card-title>
                        <p style="size:18px">{{i.descripcion}}</p>
                      </div> 
                      <div class="colorRojo">
                        <i class="material-icons text-basic">people</i>
                        <a style="margin-left:5px;margin-right:10px"><strong>Personas : {{i.num_personas}}</strong></a>
                        <i class="material-icons text-basic">local_restaurant</i>
                        <a><strong>Cantidad : {{i.cantidad}}{{i.und_medida}}</strong></a>
                      </div>
                    </mat-card-content>
                </mat-card>
              </div>   
              <h3>Platos fuertes</h3>
              <div *ngFor="let i of getEats">
                  <mat-card *ngIf='i.type_eat=="Fuerte"'>
                    <mat-card-title class="colorRojo">{{i.nombre}}</mat-card-title>
                    <mat-card-title class="subtitulo">${{i.precio}}{{i.moneda}}</mat-card-title>
                      <ui-carousel [infinite]="false" [fade]="false" [speed]="4000" [autoPlay]="false">
                              <div *ngFor="let img of eatsImg">
                                  <div *ngIf="i.idEat==img.id">      
                                      <ui-carousel-item>
                                          <img [ui-lazy-load]="img.url" style="position:absolute; z-index:-2; width: 100%;
                                          height: 100%">                                          
                                      </ui-carousel-item>
                                  </div>
                              </div>
                          </ui-carousel>  
                      <mat-card-content>
                        <div>
                          <br>
                          <mat-card-title>Descripción</mat-card-title>
                          <p style="size:18px">{{i.descripcion}}</p>
                        </div> 
                        <div class="colorRojo">
                          <i class="material-icons text-basic">people</i>
                          <a style="margin-left:5px;margin-right:10px"><strong>Personas : {{i.num_personas}}</strong></a>
                          <i class="material-icons text-basic">local_restaurant</i>
                          <a><strong>Cantidad : {{i.cantidad}}{{i.und_medida}}</strong></a>
                        </div>
                      </mat-card-content>
                  </mat-card>
                </div> 
                <h3>Bebidas sin alcohol</h3>
                <div *ngFor="let i of getEats">
                    <mat-card *ngIf='i.type_eat=="Bebida sin alcohol"'>
                        <mat-card-title class="colorRojo">{{i.nombre}}</mat-card-title>
                        <mat-card-title class="subtitulo">${{i.precio}}{{i.moneda}}</mat-card-title>
                        <ui-carousel [infinite]="false" [fade]="false" [speed]="4000" [autoPlay]="false">
                                <div *ngFor="let img of eatsImg">
                                    <div *ngIf="i.idEat==img.id">      
                                        <ui-carousel-item>
                                            <img [ui-lazy-load]="img.url" style="position:absolute; z-index:-2; width: 100%;
                                            height: 100%">                                          
                                        </ui-carousel-item>
                                    </div>
                                </div>
                            </ui-carousel>  
                        <mat-card-content>
                          <div>
                            <br>
                            <mat-card-title>Descripción</mat-card-title>
                            <p style="size:18px">{{i.descripcion}}</p>
                          </div> 
                          <div class="colorRojo">
                            <i class="material-icons text-basic">people</i>
                            <a style="margin-left:5px;margin-right:10px"><strong>Personas : {{i.num_personas}}</strong></a>
                            <i class="material-icons text-basic">local_restaurant</i>
                            <a><strong>Cantidad : {{i.cantidad}}{{i.und_medida}}</strong></a>
                          </div>
                        </mat-card-content>
                    </mat-card>
                  </div> 
                  <h3>Bebidas con alcohol</h3>
                  <div *ngFor="let i of getEats">
                      <mat-card *ngIf='i.type_eat=="Bebida con alcohol"'>
                        <mat-card-title class="colorRojo">{{i.nombre}}</mat-card-title>
                        <mat-card-title class="subtitulo">${{i.precio}}{{i.moneda}}</mat-card-title>
                        <ui-carousel [infinite]="false" [fade]="false" [speed]="4000" [autoPlay]="false">
                            <div *ngFor="let img of eatsImg">
                                <div *ngIf="i.idEat==img.id">      
                                    <ui-carousel-item>
                                        <img [ui-lazy-load]="img.url" style="position:absolute; z-index:-2; width: 100%;
                                        height: 100%">                                          
                                    </ui-carousel-item>
                                </div>
                            </div>
                        </ui-carousel>  
                        <mat-card-content>
                        <div>
                            <br>
                            <mat-card-title>Descripción</mat-card-title>
                            <p style="size:18px">{{i.descripcion}}</p>
                        </div> 
                        <div class="colorRojo">
                            <i class="material-icons text-basic">people</i>
                            <a style="margin-left:5px;margin-right:10px"><strong>Personas : {{i.num_personas}}</strong></a>
                            <i class="material-icons text-basic">local_restaurant</i>
                            <a><strong>Cantidad : {{i.cantidad}}{{i.und_medida}}</strong></a>
                        </div>
                        </mat-card-content>
                      </mat-card>
                    </div> 
                    <h3>Postres</h3>
                  <div *ngFor="let i of getEats">
                    <mat-card *ngIf='i.type_eat=="Postre"'>
                        <mat-card-title class="colorRojo">{{i.nombre}}</mat-card-title>
                        <mat-card-title class="subtitulo">${{i.precio}}{{i.moneda}}</mat-card-title>
                        <ui-carousel [infinite]="false" [fade]="false" [speed]="4000" [autoPlay]="false">
                                <div *ngFor="let img of eatsImg">
                                    <div *ngIf="i.idEat==img.id">      
                                        <ui-carousel-item>
                                            <img [ui-lazy-load]="img.url" style="position:absolute; z-index:-2; width: 100%;
                                            height: 100%">                                          
                                        </ui-carousel-item>
                                    </div>
                                </div>
                            </ui-carousel>  
                        <mat-card-content>
                          <div>
                            <br>
                            <mat-card-title>Descripción</mat-card-title>
                            <p style="size:18px">{{i.descripcion}}</p>
                          </div> 
                          <div class="colorRojo">
                            <i class="material-icons text-basic">people</i>
                            <a style="margin-left:5px;margin-right:10px"><strong>Personas : {{i.num_personas}}</strong></a>
                            <i class="material-icons text-basic">local_restaurant</i>
                            <a><strong>Cantidad : {{i.cantidad}}{{i.und_medida}}</strong></a>
                          </div>
                        </mat-card-content>
                    </mat-card>
                  </div>   
              </div>   
          </div>
      </div>
  </div>
</div> 
