.estado{
    color: cadetblue !important;
    size: 30px !important;
}
.icon{
    color: cadetblue !important;
}
.parrafo{
    margin-left: 10px;
    margin-right: 10px;
}
.errorCancelError{
    margin-left: 10px;
    margin-right: 10px;
    color: #ef5350;
}
.errorCancel{
    margin-left: 10px;
    margin-right: 10px;
    color:#43a047;
}