.subtitulo{
    text-align: center;
    color: rosybrown
}
.parrafo{
    margin-left: 20px;
    margin-right: 20px;
}
.cancelacion{
    color:rosybrown;
}
.item{
    color:rosybrown;
}
.reload{
    padding-top: 10px;
    padding-left:100px;
    padding-right:100px
}

